*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root{
    --clr-neon:hsl(250 100% 54%);
    --clr-neon1:hsl(210 100% 54%)
}
header{
    position: fixed;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(3,1fr); */
    outline: none;
    border: 0;
    border-bottom:1px solid silver;
    border: transparent(20%);
}
#nav_dash img{
    width: max-content;
    height:65px;
    margin-left: 10px;
    justify-content: flex-start;
    /* border: 2px solid; */
}
#nd1 input{
    margin-right: 40px;
    width: 350px;
    outline: none;
    border: 0;
    border-bottom:2px solid silver;
}

#nd1 button a{
    text-decoration: none;
    color: #5846f6;
}
#nd1 button{
    
    padding:10px 20px;
    
    text-align: center;
    font-size: 18px;
    /* align-items: center; */
    height: max-content;
    border-radius: 25px;
    background-color: #fff;
    border-color: #5846f6;
    /* font-size: large;     */
}
#nd1{
    margin-top: 10px;
    width: 175vh;
    justify-content: flex-end;
    text-align: end;
    padding-right: 20px;
    border-right: 1px solid silver;
    border: transparent(20%);
}
#fillname p{
    font-size: large;
    text-align: center
    ;
    margin: auto;
}
#fillname{
    position: relative;
    top: -9px;
    font-size: large;
    border-radius: 100%;
    border: 2px solid;
    padding: 15px 20px;
    background-color: beige;
    color: #48505E;
    box-shadow:  0 0 0.1em 0 var(--clr-neon) ;
    
}
#Fname p{
    font-size: large;
    text-align: center
    ;
    margin: auto;
}
#Fname{
    border-radius: 100%;
    border: 2px solid #5846f6;
    margin: 1px 20px;
    padding: 10px 20px;
    height: 60px;
    background-color: #5846f6;
    color: #fff;
    box-shadow:  0 0 0.9em 0 var(--clr-neon) ;
    
}
.main-body_parts{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
i.material-icons.standalone-icon-position{
    position: relative;
    top: 80px;
    color: #fff;
    font-size: 70px;
    /* margin-bottom:   86px; */
    /* border:2px solid #fff; */
    /* width: 100%; */
    text-align: center;
    height: max-content;
    margin: auto;

    
}
#left_sidebar{
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    top: 10%;
    width: 20%;
    height: 100%;
    border: 0;
    border: transparent(20%);
    border-right: 2px solid #7e889a ;
padding-top: 20px;
}
#slogo{
    position: relative;
    left: 25px;
    top: 10%;
    color: #7e889a;
}
#left_sidebar a{
    text-decoration: none;
    color: #7e889a;
}

.overflow-container ul li{
    padding-left: 10px;
    margin-bottom: 30px;
}
.overflow-container ul li span{
    position: relative;
    top: -6px;
    left: 10px;
}

#project_add>button{
    position: relative;
top: -6px;
left: 150px;
padding: 5px 10px;
border-radius: 30px;
color: #7e889a;
background-color: #fff;
border: 1px solid #7e889a;
    
}


#right_body{
    box-sizing: border-box;
    display: grid;
    position: absolute;
    left: 22%;
    top: 12%;
    width: 80%;
    height: max-content;
    padding-top: 10px;
    padding-left: 10px;
    /* background-color: silver; */
    /* margin-bottom: 30px; */
    /* border:2px solid #5846f6; */
    /* position: absolute; */

}
#user_heading{
    display: flex;
    gap: 20px;
    width: max-content;

    margin-bottom: 50px;
    
}
#last_text p{
    color: #fff;
    font-size: 25px;
    width: 100%;
    height: max-content;
    text-align: center;
    position: relative;
    bottom: -100px;
    /* border: 2px solid #fff; */
    /* margin: auto; */
}
#last_text{
    background-color:#5846f6 ; display: grid ;grid-template-columns: repeat(1,1fr);width: 50vh; height: 60vh; box-shadow:  0 0 0.5em 0 var(--clr-neon1) ;
}
#user_info{
    display: none;
    position: fixed;
    top: 10%;
    left: 79%;
    border: 0;
    width: 300px;
    border: transparent(20%);
    border: 2px solid #7e889a ;
}
#user_info a{
    text-decoration: none;
    color: #48505E;
}
#fullname{
    margin-bottom: 10px;
}
#user_info ul li{
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 30px;
}
#user_info ul li span{
    position: relative;
    top: -6px;
    left: 10px;
    
}

#user_info:focus{
    display: block;
    position: relative;
    top: 10%;
    left: 100%;
    border: 0;
    border: transparent(20%);
    border: 2px solid #7e889a ;
}
#user_info a:focus{
    text-decoration: none;
    color: #48505E;
}
#user_info ul li:focus{
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 30px;
}
#user_info ul li span:focus{
    position: relative;
    top: -6px;
    left: 10px;
}

