*{
    margin: 0;
    padding: 0;
}
#topdiv{
    background-color: #24282f;
    height: 110vh;   
}
#toptext{
    color: white;
    width: 35%;
    height: 500px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
#toptext>h6:nth-child(1){
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}
#toptext>h6:nth-child(3){
    color: white;
    font-size: 21px;
    font-weight: 300;
    width: 70%;
}
#toptext>h3{
    color: white;
    font-weight: 700;
    line-height: 50px;
    font-size: 37px;
}
#topdiv{

    /* margin-top: 100px; */
display: flex;
justify-content: center;
gap: 15px;
}
#media{
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: -30%;
    z-index: 5;
    
    transition:all  0.3s ease linear ;
    /* transform: scale(1.5); */
}
#media:hover{
    cursor: pointer;
    transform: scale(1.2)  ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#topvideo{
    margin-top: 80px;
}
#pop-up{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: none;
}
#pop-up>video{
width: 60%;
border-radius: 10px;
transform: translate(40%,30%);


}
#pop-up>span{
    position: absolute;
    top: 5%;
    left: 95%;
    z-index: 1000000;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
#toptext>button{
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 15px;
    border-radius: 30px;
    padding: 15px 20px;
    background-color: 
    #5846f6;
    border: 0;
    color: white;
}
#toptext>button:hover{
    background-color: 
    #311cec;
    cursor: pointer;
}
#logodiv>h5{
font-size: 21px;
font-family: 'Poppins', sans-serif;
font-weight: 300;
text-align: center;
}
#logodiv{
    margin-top: 80px;
}
#logodiv div:nth-child(2){
    margin-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.middletext>img:nth-child(1){
    background-color: #311cec;
    padding: 10px;
    border-radius: 50%;
    
}
.middlecont{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 120px;
}
.middletext{
    justify-content: left;
    width: 35%;
}
.middletext>h3{
    margin-top: 10px;
    font-size: 37px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 50px;
    
}
.middleimage{
    margin-top: 100px;
}
.middletext>h5{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}
.middletext>a{
    font-size: 20px;
    text-decoration: none;
}
.middletext>div{
    width: 75%;
    margin-top: 50px;
}
.middletext hr{
    color: #e5e5e5;
    opacity: .5;
    width: 100%;
}
.middletext>h5:nth-child(6){
    font-size: 20px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 50px;
}
.middletext>h5:nth-child(7){
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.middletext>h5:nth-child(8){
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: -30px;
}
.middletext>div:last-child{
    margin-top: -5%;
}
#icon2{
    background-color: #02d3da;
    color: white;
}
#cont-2>.middletext,#cont-3>.middletext{
    width: 34%;
}
#cont-2>.middletext>h5:nth-child(3){
    font-size: 23px;

}

#cont-2 hr,#cont-3 hr{
    margin-top: 50px;
    width: 80%;
}
#cont-2 img:last-child,#cont-3 img:last-child{
    margin-top: -7%;
}
#cont-2{
    background-color: #fafafb;
    padding: 100px 0;
}
#icon3{
    background-color: #f8558e;
}
#cont-3 h5:nth-child(6),#cont1 h5:nth-child(6),#cont-2 h5:nth-child(6){
    font-size: 16px;
    width: 70%;
    line-height: 27px;
}
#midcontainer{
    background-color: 
    #fafafb;
    margin-top: 100px;
    
}
#midcontainer>h3{
    font-size: 37px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}
#midcontainer>h5,#slidercontainer>h5{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}
#minivideo{
    display: grid;
    grid-template-columns: repeat(2,40%);
    
    row-gap: 40px; 
    justify-content: center;
    margin-top: 50px;
    
   
}
#minivideo>video{
    width: 90%;
    border-radius: 20px;
}

#popUp2{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: none;
}
#popUp2>video{
width: 60%;
border-radius: 10px;
transform: translate(40%,30%);
margin-top: -2%;



}

#popUp2>span{
    position: absolute;
    top: 5%;
    left: 55%;
    z-index: 10;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
#slidercontainer>h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 37px;
    line-height: 49px;
    margin-top:150px;
}
.slide{
    position: relative;
    left: 20%;
    margin-top: 50px;
    width: 60%;
    border-radius: 10px;
}
#right-btn{
    position: absolute;
    left: 80%;
    top: 345rem;
    width: 50px;
    border-radius: 50%;
    font-size: 35px;
    border: 0;
    cursor: pointer;
}

#left-btn{
    position: absolute;
    right: 80%;
    top: 345rem;
    width: 50px;
    border-radius: 50%;
    font-size: 35px;
    border: 0;
    cursor: pointer;
}

#lower>h3{
    
    font-size: 37px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 600px;
    padding-top: 100px;
    margin: auto;
}
#lower>h5{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 450px;
    margin: auto;
    margin-top: 20px;
}
#resourse{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.card{
    margin-top: 50px;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 30px 10px;
}
.cardImg{
    width: 240px;
    height: 150px;
}
.card>p{
    margin-top: 10px ;
    width: 200px;
}
.card:nth-child(1)>a{
    position: relative;
    top: 1%;
}
.card:nth-child(3)>a{
    position: relative;
    top: 8%;
}

#signupinfo{
    background-color: #311cec;
    width: 85%;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 50px;
}
#signupinfo>h1{
    padding-top: 50px;
    color: white;
    text-align: center;
    margin: auto;
    width: 650px;
    font-size: 37px;
    line-height: 50px;
}
#signupinfo>p{
    color: white;
    text-align: center;
    margin: auto;
    width: 650px;
    font-size: 21px;
    line-height: 27px;
    margin-top: 50px;
}
#signupinfo>button{
    margin: 50px 0;
    position: relative;
    left: 40%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}
#signupinfo>button:hover{
    color: #4861ec;
}
