*{
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
    color: #48507C;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    width:90%;
    margin: auto;
    position: sticky;
    top:0;

    
    /* border: 1px solid red; */
}

p{
    cursor: pointer;
}
p:hover{
    color: #434a71;
}
#navbar_logo{
    /* height: auto; */
   width: 30%; 
   cursor: pointer;
   /* border: 1px solid blue; */
   /* padding-left: 100px;
   padding-right: 100px; */
} 
#navbar_logo>img{
    height: 87px;
    width: 150px;

   
}

#navbar,#navbar_menu{
    display: flex;
    align-items: center;
    height: 114px;
    justify-content: space-around;
    

}
#navbar_menu{
    width:50%;
    /* border: 1px solid black; */
    justify-content: space-evenly;
}
#navbar_menu>button{
    height: 40px;
    width: 70px;
    border: 1px solid #5846f6;
    border-radius: 20px;
    cursor: pointer;
}
#navbar_signup_button{
  background-color: #5846f6;
  color: white;
}

ul{
list-style:none;
background: white;
} 

ul li{
display : inline-block;
position: relative;
}
ul li a {
display: block;
/* padding: 20px 25px;  */
text-decoration: none;
text-align: center;  
}
ul li ul.dropdown li{
display: block;
}
ul li ul.dropdown{
width: 100%;
background: white;
position: absolute;
z-index: 999;
display: none;
}
ul li:hover ul.dropdown{
display: block;
border: 1px solid lightgray;
border-radius: 4px;
width: 100px;
margin-top: 10px;
}
#navbar_login_button{
color: #5846f6;
border-color: #5846f6;
background: white;
}
#navbar_login_button:hover{
background-color: #5846f6;
color: white;
}